.homeHero {
  grid-column: 1 / -1;
  margin-bottom: 3rem;

  .homeWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10rem;
    align-items: center;
  }

  .homeHeroBanner, .homeForm {
    width: 100%;
    padding: 0 1.5rem;
  }

  .homeHeroBanner {
    letter-spacing: 0.2rem;
    justify-self: start;
  }

  .homeForm {
    padding: 1.6rem;
    background-color: $whiteColorHome;
    border-radius: 0.5rem;
  }
  
  &__banner {
    font-size: 1.9rem;
    font-weight: 700;
    line-height: 1.7;
    margin-bottom: 1.6rem;
  }

  &__text {
    font-size: 5.7rem;
    font-weight: 600;
    line-height: 1.2;
  }
}