.posts {
  &__nav {
    justify-self: center;
    align-self: center;

    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    overflow-y: auto;

    &--logo {
      margin: 3rem 0 3rem 0;
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      background-color: transparent;
      
      display: flex;
      justify-content: center;
      align-items: center;
      transition: $mainTransition;

      &-link {
        width: 5rem;
        height: 5rem;
        fill: $whiteColor;
        transition: $mainTransition;
      }

      &:hover {
        cursor: pointer;
        background-color: $primaryColorHover;
      }

      &:hover &-link {
        fill: $primaryColor;
      }
    }

    &_menu {
      display: flex;
      flex-direction: column;

      &--item, &--button {
        padding: 1.2rem 1.5rem;
        border-radius: 10rem;
        transition: $mainTransition;
      }

      &--item {
        width: 100%;
        background-color: transparent;
        margin-bottom: 2rem;

        &.active {
          background-color: $primaryColorHover;
        }

        &.active &-link.text {
          color: $primaryColor;
        }

        &.active &-link.icon {
          stroke: $primaryColor;
        }

        &-link {
          display: flex;
          transition: $mainTransition;

          &.text {
            font-size: 2.4rem;
            font-weight: 700;
            color: $whiteColor;
            margin: 0 1.6rem;
          }

          &.icon {
            align-self: center;
            width: 3rem;
            height: 3rem;
            fill: none;
            stroke: $whiteColor;
            stroke-width: 0.2rem;
            margin-top: -0.3rem;
          }
        }

        &:hover {
          background-color: $primaryColorHover;
        }

        &:hover &-link.text {
          color: $primaryColor;
        }

        &:hover &-link.icon {
          stroke: $primaryColor;
        }
      }

      &--button {
        font-size: 2rem;
        font-weight: 800;
        text-align: center;
        background-color: $primaryColor;

        &:hover {
          cursor: pointer;
          background-color: $primaryColorDark;
        }
      }
    }
  }

  &__main {
    border-left: 1px solid $greyBorder;
    border-right: 1px solid $greyBorder;

    &_nav {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      width: 100%;
      height: 6rem;
      padding: 2rem;
      border-bottom: 1px solid $greyBorder;

      display: flex;
      align-items: center;

      font-size: 2.5rem;
      font-weight: 800;
    }

    .createPost {
      display: flex;
      width: 100%;
      // min-height: 12rem;
      border-bottom: 1px solid $greyBorder;

      &__profile {
        padding: 1rem 2rem;

        &--avatar {
          width: 5.7rem;
          height: 5.7rem;
          background-color: $primaryColorHover;
          background-size: cover;
          background-repeat: no-repeat;
          border-radius: 50%;
          cursor: pointer;
        }
      }

      &__form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &__text {
          width: 95%;
          font-size: 2.1rem;
          padding-top: 2.5rem;
          background-color: inherit;
          border: none;
          border-bottom: 1px solid $greyBorder;
          resize: none;
          color: $whiteColor;

          &::placeholder {
            font-size: 2rem;
            font-weight: 600;
            color: $darkGrey;
          }
        }

        &__media {
          width: 95%;
          padding: 1rem 0;

          display: flex;
          align-items: center;
          justify-content: space-between;

          .mediaMenus {
            display: flex;
            align-items: center;

            &__item {
              width: 4rem;
              height: 4rem;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: transparent;
              border-radius: 50%;
              transition: $mainTransition;

              &:hover {
                cursor: pointer;
                background-color: $primaryColorHover;
              }

              &:not(:first-child) {
                margin: 0 0.1rem;
              }

              &--link {
                width: 2.5rem;
                height: 2.5rem;
                fill: none;
                stroke: $primaryColor;
                transition: $mainTransition;
              }
            }
          }
        }

        &__button {
          font-size: 1.6rem;
          font-weight: 700;
          text-align: center;
          margin-right: 0.7rem;
          padding: 1rem 2rem;
          background-color: $primaryColor;
          border-radius: 10rem;
          cursor: pointer;
          transition: $mainTransition;

          &:hover {
            background-color: $primaryColorDark;
          }
        }
      }
    }
  }
}