// Colors
$primaryColor: rgba(29, 161, 242, 1);
$blackColor: rgba(20, 23, 26, 1);
$darkGrey: rgba(101, 119, 134, 1);
$lightGrey: rgba(170, 184, 194, 1);
$extraLightGrey: rgba(225, 232, 237, 1);
$superExtraLightGrey: rgba(245, 248, 250, 1);

$whiteColor: rgba(255, 255, 255, 1);