.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  &.home {
    padding: 2rem;
  }

  &.profileForm {
    padding: 1.2rem 1.6rem 2.3rem 1.6rem;
  }

  &--box {
    position: relative;
    margin-bottom: 9rem;

    &.profileButton {
      margin-top: 3.54rem;
      margin-bottom: 0;
    }

    &.adjust {
      flex: 1;
    }

    &.full-width {
      min-width: 100% !important;
    }

    &.top-margin {
      margin-top: 0.5rem;
    }

    &.right-margin {
      margin-right: 3rem;
    }

    &.no-margin {
      margin-bottom: 0 !important;
    }

    &.mb-s {
      margin-bottom: 8.5rem !important;
    }

    &.file {
      display: inline-flex;
      align-items: center;
      margin-bottom: 3rem;
    }
  }

  &--fileButton {
    padding: 1.2rem 1.6rem;
    font-size: 1.9rem;
    font-weight: 400;
    background-color: $primaryColor;
    border-radius: 0.7rem;
    margin-right: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      width: 1.9rem;
      height: 1.9rem;
      fill: none;
      stroke: $whiteColor;
      stroke-width: 2;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &--fileText {
    font-size: 1.7rem;
    flex: 1;
    text-overflow: ellipsis;
    color: $lightGrey;

    &.active {
      color: $darkGrey;
    }
  }

  &--input, &--date, &--select {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.5rem 2rem;
    background-color: inherit;
    font-weight: 400;
    font-size: 1.9rem;
    border-radius: 0.7rem;
    width: 100%;
    //z-index: 1;
    transition: $mainTransition;

    &.home, &.profile {
      border: 0.2rem solid $extraLightGrey;
      color: $darkGrey;

      &::placeholder, &::-webkit-input-placeholder {
        font-weight: 400;
        font-size: 1.7rem;
        color: $lightGrey !important;
      }
    }

    &.profile {
      border: 0.1rem solid $darkGrey;
      color: $whiteColor;

      &:focus {
        border: 0.1rem solid $primaryColor !important;
      }
    }

    &.posts {
      color: $whiteColor !important;
    }

    

    &:focus {
      border: 0.2rem solid $primaryColor !important;
    }

    &::placeholder, &::-webkit-input-placeholder {
      font-weight: 400;
      font-size: 1.7rem;
      color: $darkGrey !important;
    }
  }

  &--label {
    position: absolute;
    top: 1.5rem;
    left: 2rem;
    padding: 0 1px;
    color: $darkGrey;
    font-weight: 400;
    font-size: 1.7rem;
    transform: translateY(0rem);
    transition: all 0.1s linear;
    //z-index: 10;
    background-color: $primaryColor;

    opacity: 0;
    visibility: hidden;

    &.home {
      background-color: $whiteColorHome;
    }

    &.profile {
      background-color: $dimBlack;
    }
  }

  &--input:not(:placeholder-shown) + &--label {
    opacity: 1;
    visibility: visible;
    top: -0.9rem;
    left: 1.5rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: $primaryColor;
    transform: translateY(0);
    //z-index: 10;
  }

  &--input:not(:placeholder-shown) + .postLabel {
    color: $whiteColor !important;
    background-color: $dimBlack !important;
  }

  &--input:not(:focus) ~ &--label {
    color: $primaryColor;
  }

  &--error {
    position: absolute;
    top: 6rem;
    left: 0;
    font-weight: 600;
    font-size: 1.2rem;
    color: $primaryColor;
    margin: 0.1rem 0 0 0.3rem;

    &.textarea {
      top: 16.5rem;
    }

    & ~ .form--input {
      border: 0.2rem solid $primaryColor !important;
    }

    & ~ .form--select {
      border: 0.2rem solid $primaryColor !important;
    }

    & ~ .form--date {
      border: 0.2rem solid $primaryColor !important;
    }

    &.textarea-error {
      top: 16.5rem !important;
    }

    &.fileError {
      top: 5.5rem !important;
    }
    
    //opacity: 0;
    //visibility: hidden;
  }

  &--button {
    padding: 1.5rem 2rem;
    border-radius: 0.7rem;
    background-color: $primaryColor;
    color: $whiteColor;
    box-shadow: $bSm;

    font-size: 2rem;
    font-weight: 400;
    transition: $mainTransition;

    &:not(:disabled):hover {
      cursor: pointer;
      background-color: $primaryColorDark;
      // box-shadow: $bDflt;
    }

    &::selection {
      background-color: $whiteColor;
      color: $primaryColorDark;
    }

    &:disabled {
      cursor: auto;
      opacity: 0.5;
    }
  }

  .authBtnText {
    font-size: 1.6rem;
    margin-left: 1.6rem;
    color: $darkGrey;
    cursor: pointer;
  }
}