.posts {
  display: flex;

  &__nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    width: 23.05vw;
    justify-self: center;
    align-self: center;
    height: 100% !important;

    display: flex;
    flex-direction: column;
    // padding: 0 3rem;
    border-right: 1px solid $greyBorder;
    overflow-y: auto;

    &_container {
      padding: 0 3rem;
    }

    &--logo {
      margin: 3rem 0 3rem 0;
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      background-color: transparent;
      
      display: flex;
      justify-content: center;
      align-items: center;
      transition: $mainTransition;

      &-link {
        width: 5rem;
        height: 5rem;
        fill: $whiteColor;
        transition: $mainTransition;
      }

      &:hover {
        cursor: pointer;
        background-color: $primaryColorHover;
      }

      &:hover &-link {
        fill: $primaryColor;
      }
    }

    &_menu {
      display: flex;
      flex-direction: column;

      &--item, &--button {
        padding: 1.2rem 1.5rem;
        border-radius: 10rem;
        transition: $mainTransition;
      }

      &--item {
        width: 100%;
        background-color: transparent;
        margin-bottom: 2rem;

        &.active {
          background-color: $primaryColorHover;
        }

        &.active &-link.text {
          color: $primaryColor;
        }

        &.active &-link.icon {
          stroke: $primaryColor;
        }

        &-link {
          display: flex;
          transition: $mainTransition;

          &.text {
            font-size: 2.4rem;
            font-weight: 700;
            color: $whiteColor;
            margin: 0 1.6rem;
          }

          &.icon {
            align-self: center;
            width: 3rem;
            height: 3rem;
            fill: none;
            stroke: $whiteColor;
            stroke-width: 0.2rem;
            margin-top: -0.3rem;
          }
        }

        &:hover {
          background-color: $primaryColorHover;
        }

        &:hover &-link.text {
          color: $primaryColor;
        }

        &:hover &-link.icon {
          stroke: $primaryColor;
        }
      }

      &--button {
        font-size: 2rem;
        font-weight: 800;
        text-align: center;
        background-color: $primaryColor;

        &:hover {
          cursor: pointer;
          background-color: $primaryColorDark;
        }
      }
    }
  }

  .main {
    display: flex;
    width: 52.7vw;
    margin-left: 31.5rem;
  }

  &__main {
    width: 100%;

    &_nav {
      position: fixed;
      top: 0;
      width: 52.6vw;
      height: 6rem;
      padding: 2rem;
      border-bottom: 1px solid $greyBorder;
      background-color: $dimBlack;
      //border-right: 1px solid $greyBorder;

      display: flex;
      align-items: center;
      z-index: 2;

      font-size: 2.5rem;
      font-weight: 800;
    }

    .createPost {
      display: flex;
      width: 100%;
      margin-top: 6rem;
      border-bottom: 1px solid $greyBorder;

      &__profile {
        padding: 1rem 2rem;

        &--avatar {
          width: 5.7rem;
          height: 5.7rem;
          background-color: $primaryColorHover;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          border-radius: 50%;
          cursor: pointer;
        }
      }

      &__form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &__text {
          min-width: 95%;
          min-height: 5rem;
          flex-shrink: 0;
          margin-top: 1.2rem;
          margin-right: 2rem;
          font-size: 2.1rem;
          white-space: pre-wrap;
          background-color: inherit;
          border: none;
          resize: none;
          word-break: break-all;
          color: $whiteColor;
          overflow: hidden;
          text-overflow: ellipsis;
          outline: none;
          backface-visibility: hidden;
          -webkit-backface-visibility: hidden;

          span, a, a:hover, a:visited {
            font-weight: 600;
            color: $linkColor;
          }

          &.noBorder {
            //height: 5rem;
            border-bottom: none !important;
          }

          &.focused, &:not(:empty) {
            min-height: 7rem;
            border-bottom: 1px solid $greyBorder;
          }

          &[contentEditable=true]:empty:not(:focus):before{
            content: attr(placeholder);
            font-size: 2rem;
            font-weight: 600;
            color: $darkGrey;
          }
        }

        &__media {
          width: 95%;
          padding: 1rem 0;

          display: flex;
          align-items: center;
          justify-content: space-between;

          .mediaMenus {
            display: flex;
            align-items: center;

            &__item {
              width: 4rem;
              height: 4rem;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: transparent;
              border-radius: 50%;
              transition: $mainTransition;

              &:hover {
                cursor: pointer;
                background-color: $primaryColorHover;
              }

              &:not(:first-child) {
                margin: 0 0.1rem;
              }

              &--link {
                width: 2.5rem;
                height: 2.5rem;
                fill: none;
                stroke: $primaryColor;
                transition: $mainTransition;
              }
            }
          }
        }

        &__button {
          font-size: 1.6rem;
          font-weight: 700;
          text-align: center;
          margin-right: 0.7rem;
          padding: 1rem 2rem;
          background-color: $primaryColor;
          border-radius: 10rem;
          cursor: pointer;
          transition: $mainTransition;

          &:not(:disabled):hover {
            background-color: $primaryColorDark;
          }

          &:disabled {
            opacity: 0.5;
            cursor: auto;
          }
        }
      }

      &__mediaContent {
        position: relative;
        width: 95%;
        height: 0;
        background-color: $dimBlack;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 1.6rem;
        margin-top: 1.6rem;
        padding-top: 50%;

        .video {
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: inherit;
          object-fit: cover;
        }

        .img {
          position: absolute;
          width: 100%;
          height: 100%;
          visibility: hidden;
        }
      }

      &__embedBox {
        position: relative;
        width: 95%;
        min-height: 12rem;
        background-color: $dimBlack;
        border: 0.1rem solid $greyBorder;
        border-radius: 2rem;
        margin-top: 1.6rem;
        transition: $mainTransition;

        &:hover {
          cursor: pointer;
          background-color: $postBreaker;
        }

        &--embed {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          border-radius: inherit;
          border: inherit;

          &-image {
            position: relative;
            min-width: 25%;
            height: 100%;
            border-top-left-radius: 2rem;
            border-bottom-left-radius: 2rem;

            .img {
              height: 100%;
              border-right: 0.1rem solid $greyBorder;
              border-top-left-radius: inherit;
              border-bottom-left-radius: inherit;
            }
          }

          &-content {
            width: 75%;
            align-self: center;
            padding: 1.6rem;

            .title, .link, .description {
              max-width: 100%;
              white-space: pre-line;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            .title {
              font-size: 1.6rem;
              font-weight: 600;
              color: $whiteColor;
            }

            .description {
              font-size: 1.5rem;
              font-weight: 400;
              color: $darkGrey;
            }

            .link {
              display: flex;
              align-items: center;

              .icon {
                width: 1.3rem;
                height: 1.3rem;
                fill: none;
                stroke: $whiteColor;
                margin-right: 0.7rem;
              }

              .text {
                font-size: 1.3rem;
                font-weight: 300;
                color: $darkGrey;
              }
              
              &:hover, &:visited {
                color: $darkGrey;
              }
            }
          }
        }
      }

      &__mediaContent, &__embedBox {
        .cross {
          position: absolute;
          top: 0.7rem;
          left: 0.7rem;
          width: 5rem;
          height: 5rem;
          background-color: $blackColor;
          opacity: 0.7;
          border-radius: 50%;

          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            cursor: pointer;
          }

          &__content {
            width: 4rem;
            height: 4rem;
            fill: none;
            stroke: $whiteColor;
          }

          &.embed {
            width: 4rem;
            height: 4rem;

            .embed__content {
              width: 3rem;
              height: 3rem;
            }
          }
        }
      }
    }

    .breaker {
      width: 100%;
      height: 1rem;
      background-color: $postBreaker;
      border-bottom: 1px solid $greyBorder;
    }
  }

  &__allPosts {
    padding: 1.1rem 0 1.6rem 0;
  }

  &__post {
    display: flex;
    width: 100%;
    padding: 0 2rem;

    &:not(:first-of-type) {
      padding-top: 1.1rem;
    }

    &:not(:last-of-type) {
      border-bottom: 1px solid $greyBorder;
    }

    &--avatar {
      display: flex;
      flex-direction: column;
      margin-right: 1.5rem;
    }

    &--icon {
      width: 5rem;
      height: 5rem;
      background-color: $primaryColorHover;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
      cursor: pointer;
    }

    &--content {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      margin-bottom: 1.6rem;

      .profile {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__info {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.65rem;

          &--title, &--handle, &--time, .dot {
            &:hover {
              text-decoration: underline;
            }
          }

          &--title {
            margin-right: 0.7rem;
            font-weight: 800;
          }

          &--handle, &--time, .dot {
            color: $darkGrey;
          }

          .dot {
            padding: 0 0.5rem 1rem 0.5rem;
          }
        }

        .postDelete {
          width: 4rem;
          height: 4rem;
          padding-top: -1rem;
          border-radius: 50%;
          background-color: transparent;

          display: flex;
          align-items: center;
          justify-content: center;
          transition: $mainTransition;

          &:hover {
            cursor: pointer;
            background-color: $primaryColorHover;
          }

          &__icon {
            width: 2rem;
            height: 2rem;
            fill: none;
            stroke: $primaryColor;
          }
        }
      }

      .text {
        font-size: 1.6rem;
        font-weight: 400;
        white-space: pre-wrap;
        line-height: 2.3rem;

        span, a, a:hover, a:visited {
          font-weight: 600;
          color: $linkColor;
        }

        span:hover {
          cursor: pointer;
        }
      }

      .media {
        position: relative;
        width: 100%;
        height: 0;
        background-color: $dimBlacker;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 1.6rem;
        margin-top: 1rem;
        padding-top: 57%;

        &:hover {
          cursor: pointer;
        }

        .img {
          position: absolute;
          width: 100%;
          height: 100%;
          visibility: hidden;
        }
      }

      .icons {
        width: 80%;
        padding: 1rem 1rem 0 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .item {
          width: 3rem;
          height: 3rem;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: transparent;
          border-radius: 50%;
          transition: $mainTransition;

          &:hover {
            cursor: pointer;
            background-color: $primaryColorHover;
          }

          .icon {
            width: 2rem;
            height: 2rem;
            fill: none;
            stroke: $primaryColor;
            transition: $mainTransition;
          }
        }
      }
    }
  }
}