.posts {
  display: grid;
  grid-template-columns: 27.5rem auto 35rem;
  margin: 0 auto;

  @media only screen and (max-width: $bpSideBreak) {
    grid-template-columns: 20rem auto 35rem;
  }

  @media only screen and (max-width: $bpTagsSh) {
    grid-template-columns: 20rem auto 30rem;
  }

  @media only screen and (max-width: $bpTagsBreak) {
    grid-template-columns: 16rem auto 20rem;
  }

  @media only screen and (max-width: $bpMedium) {
    grid-template-columns: 12rem auto 16rem;
  }

  @media only screen and (max-width: $bpSmallMedium) {
    grid-template-columns: 12rem auto 10rem;
  }

  @media only screen and (max-width: $bpSmallerMedium) {
    grid-template-columns: 12rem auto 0;
  }

  @media only screen and (max-width: $bpSmall) {
    grid-template-columns: 10rem auto 0;
  }

  @media only screen and (max-width: $bpSmaller) {
    grid-template-columns: 0 auto 0;
  }

  &__nav {
    height: 100% !important;

    @media only screen and (max-width: $bpSmaller) {
      height: 5rem;
    }

    &_container {
      position: fixed;
      width: 27.5rem;
      border-right: 1px solid $greyBorder;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      overflow-y: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;

      @media only screen and (max-width: $bpSideBreak) {
        width: 20rem;
      }

      @media only screen and (max-width: $bpTagsBreak) {
        width: 16rem;
      }

      @media only screen and (max-width: $bpMedium) {
        width: 12rem;
      }

      @media only screen and (max-width: $bpSmallerMedium) {
        width: 12rem;
      }

      @media only screen and (max-width: $bpSmall) {
        width: 10rem;
      }

      @media only screen and (max-width: $bpSmaller) {
        bottom: 0;
        width: 100vw;
        height: 5.7rem;
        flex-direction: row;
        background-color: $dimBlack;
        border-right: none;
        border-top: 0.1rem solid $greyBorder;
        z-index: 3;
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &--logo {
      margin: 3rem 0 3rem 0;
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      background-color: transparent;
      align-self: flex-start;
      // justify-self: center;
      margin-left: 2rem;
      
      display: flex;
      justify-content: center;
      align-items: center;
      transition: $mainTransition;

      @media only screen and (max-width: $bpSideBreak) {
        align-self: center;
        margin-left: 0;
      }

      @media only screen and (max-width: $bpSmaller) {
        display: none;
      }

      &-link {
        width: 5rem;
        height: 5rem;
        fill: $whiteColor;
        transition: $mainTransition;
      }

      &:hover {
        cursor: pointer;
        // background-color: $primaryColorHover;
      }

      &:hover &-link {
        fill: $primaryColor;
      }
    }

    &_menu {
      display: flex;
      flex-direction: column;

      @media only screen and (max-width: $bpSideBreak) {
        align-items: center;
      }

      @media only screen and (max-width: $bpSmaller) {
        width: 100%;
        height: 100%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
      }

      &--item, &--button {
        padding: 1.2rem 1.5rem;
        border-radius: 10rem;
        transition: $mainTransition;
      }

      &--item {
        width: 100%;
        background-color: transparent;
        margin-bottom: 2rem;

        @media only screen and (max-width: $bpSideBreak) {
          width: 6rem;
          height: 6rem;
          display: flex;
          justify-content: center;
          align-items: center;

          @media only screen and (max-width: $bpSmaller) {
            width: 4rem;
            height: 4rem;
          }
        }

        @media only screen and (max-width: $bpSmaller) {
          padding: 0;
          margin-bottom: 0;
        }

        &.active {
          background-color: $primaryColorHover;

          @media only screen and (max-width: $bpSmaller) {
            background-color: transparent;
          }
        }

        &.active &-link.text {
          color: $primaryColor;
        }

        &.active &-link.icon {
          stroke: $primaryColor;
        }

        &-link {
          display: flex;
          transition: $mainTransition;

          &.text {
            font-size: 2.4rem;
            font-weight: 700;
            color: $whiteColor;
            margin: 0 1.6rem;

            @media only screen and (max-width: $bpSideBreak) {
              display: none;
            }
          }

          &.icon {
            align-self: center;
            width: 3rem;
            height: 3rem;
            fill: none;
            stroke: $whiteColor;
            stroke-width: 0.2rem;
            margin-top: -0.3rem;

            @media only screen and (max-width: $bpSmaller) {
              width: 2.92rem;
              height: 2.92rem;
              margin-top: 0;
            }
          }
        }

        &:hover {
          background-color: $primaryColorHover;

          @media only screen and (max-width: $bpSmaller) {
            background-color: transparent;
          }
        }

        &:hover &-link.text {
          color: $primaryColor;
        }

        &:hover &-link.icon {
          stroke: $primaryColor;
        }
      }

      &--button {
        font-size: 2rem;
        font-weight: 800;
        text-align: center;
        background-color: $primaryColor;

        &:hover {
          cursor: pointer;
          background-color: $primaryColorDark;
        }

        @media only screen and (max-width: $bpSideBreak) {
          display: none;
        }
      }
    }
  }

  .main {
    display: flex;
    // width: 52.7vw;
    // margin-left: 31.5rem;
  }

  &__main {
    position: relative;
    width: 100%;

    &_nav {
      // display: none !important;
      position: fixed;
      top: 0%;
      // left: 50%;
      // width: 52.6vw;
      margin: 0 auto;
      height: 6rem;
      padding: 2rem;
      border-bottom: 1px solid $greyBorder;
      background-color: $dimBlack;
      //border-right: 1px solid $greyBorder;
      display: flex;
      align-items: center;
      z-index: 2;
      font-size: 2.5rem;
      font-weight: 800;
      // transform: translateX(-50%);
    }

    .createPost {
      display: flex;
      width: 100%;
      margin-top: 6rem;
      border-bottom: 1px solid $greyBorder;

      @media only screen and (max-width: $bpSmaller) {
        display: none;
      }

      &.popUp {
        margin-top: 0 !important;
        border-bottom: none !important;
      }

      &__profile {
        padding: 1rem 2rem;

        &--avatar {
          width: 5.7rem;
          height: 5.7rem;
          background-color: $primaryColorHover;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          border-radius: 50%;
          cursor: pointer;
        }
      }

      &__form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &__text {
          min-width: 95%;
          min-height: 5rem;
          flex-shrink: 0;
          margin-top: 1.2rem;
          margin-right: 2rem;
          font-size: 2.1rem;
          white-space: pre-wrap;
          background-color: inherit;
          border: none;
          resize: none;
          word-break: break-all;
          color: $whiteColor;
          overflow: hidden;
          text-overflow: ellipsis;
          outline: none;
          backface-visibility: hidden;
          -webkit-backface-visibility: hidden;

          span, a, a:hover, a:visited {
            font-weight: 600;
            color: $linkColor;
          }

          &.noBorder {
            //height: 5rem;
            border-bottom: none !important;
          }

          &.focused, &:not(:empty) {
            min-height: 7rem;
            border-bottom: 1px solid $greyBorder;
          }

          &[contentEditable=true]:empty:not(:focus):before{
            content: attr(placeholder);
            font-size: 2rem;
            font-weight: 600;
            color: $darkGrey;
          }
        }

        &__media {
          width: 95%;
          padding: 1rem 0;

          display: flex;
          align-items: center;
          justify-content: space-between;

          .mediaMenus {
            display: flex;
            align-items: center;

            &__item {
              width: 4rem;
              height: 4rem;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: transparent;
              border-radius: 50%;
              transition: $mainTransition;

              &:hover {
                cursor: pointer;
                background-color: $primaryColorHover;
              }

              &:not(:first-child) {
                margin: 0 0.1rem;
              }

              &--link {
                width: 2.5rem;
                height: 2.5rem;
                fill: none;
                stroke: $primaryColor;
                transition: $mainTransition;
              }
            }
          }
        }

        &__button {
          font-size: 1.6rem;
          font-weight: 700;
          text-align: center;
          margin-right: 0.7rem;
          padding: 1rem 2rem;
          background-color: $primaryColor;
          border-radius: 10rem;
          cursor: pointer;
          transition: $mainTransition;

          &:not(:disabled):hover {
            background-color: $primaryColorDark;
          }

          &:disabled {
            opacity: 0.5;
            cursor: auto;
          }
        }
      }

      &__mediaContent {
        position: relative;
        width: 95%;
        height: 0;
        background-color: $dimBlack;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 1.6rem;
        margin-top: 1.6rem;
        padding-top: 50%;

        .video {
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: inherit;
          object-fit: cover;
        }

        .img {
          position: absolute;
          width: 100%;
          height: 100%;
          visibility: hidden;
        }
      }

      &__embedBox {
        position: relative;
        width: 95%;
        min-height: 12rem;
        background-color: $dimBlack;
        border: 0.1rem solid $greyBorder;
        border-radius: 2rem;
        margin-top: 1.6rem;
        transition: $mainTransition;

        &:hover {
          cursor: pointer;
          background-color: $postBreaker;
        }

        &--embed {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          border-radius: inherit;
          border: inherit;

          &-image {
            position: relative;
            min-width: 25%;
            height: 100%;
            border-top-left-radius: 2rem;
            border-bottom-left-radius: 2rem;

            .img {
              height: 100%;
              border-right: 0.1rem solid $greyBorder;
              border-top-left-radius: inherit;
              border-bottom-left-radius: inherit;
            }
          }

          &-content {
            width: 75%;
            align-self: center;
            padding: 1.6rem;

            .title, .link, .description {
              max-width: 100%;
              white-space: pre-line;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            .title {
              font-size: 1.6rem;
              font-weight: 600;
              color: $whiteColor;
            }

            .description {
              font-size: 1.5rem;
              font-weight: 400;
              color: $darkGrey;
            }

            .link {
              display: flex;
              align-items: center;

              .icon {
                width: 1.3rem;
                height: 1.3rem;
                fill: none;
                stroke: $whiteColor;
                margin-right: 0.7rem;
              }

              .text {
                font-size: 1.3rem;
                font-weight: 300;
                color: $darkGrey;
              }
              
              &:hover, &:visited {
                color: $darkGrey;
              }
            }
          }
        }
      }

      &__mediaContent, &__embedBox {
        .cross {
          position: absolute;
          top: 0.7rem;
          left: 0.7rem;
          width: 5rem;
          height: 5rem;
          background-color: $blackColor;
          opacity: 0.7;
          border-radius: 50%;

          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            cursor: pointer;
          }

          &__content {
            width: 4rem;
            height: 4rem;
            fill: none;
            stroke: $whiteColor;
          }

          &.embed {
            width: 4rem;
            height: 4rem;

            .embed__content {
              width: 3rem;
              height: 3rem;
            }
          }
        }
      }
    }

    .breaker {
      width: 100%;
      height: 1rem;
      background-color: $postBreaker;
      border-bottom: 1px solid $greyBorder;

      @media only screen and (max-width: $bpSmaller) {
        display: none;
      }

      &.comments {
        border-top: 1px solid $greyBorder;

        @media only screen and (max-width: $bpSmaller) {
          display: block;
        }
      }
    }
  }

  &__allPosts {
    padding: 1.1rem 0 1.6rem 0;

    @media only screen and (max-width: $bpSmaller) {
      margin-top: 6rem;
    }

    &.profile {
      @media only screen and (max-width: $bpSmaller) {
        margin-top: 0;
      }
    }

    &.margin {
      margin-top: 6rem;
    }
  }

  &__post {
    display: flex;
    width: 100%;
    padding: 0 2rem;

    &.single {
      margin-top: 6rem;
      padding: 1.1rem 2rem 0 2rem !important;
      flex-wrap: wrap;
      border-bottom: none !important;

      .last {
        margin-top: 1rem;
        //padding: 0 0.5rem;
        flex: 1 1 100%;
      }
    }

    &:not(:first-of-type) {
      padding-top: 1.1rem;
    }

    &:not(:last-of-type) {
      border-bottom: 1px solid $greyBorder;
    }

    &--avatar {
      display: flex;
      flex-direction: column;
      margin-right: 1.5rem;
    }

    &.single &--icon {
      width: 5.7rem;
      height: 5.7rem;
    }

    &--icon {
      width: 5rem;
      height: 5rem;
      background-color: $primaryColorHover;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
      cursor: pointer;
    }

    &--content {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      margin-bottom: 1.6rem;

      .profile {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__info {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.65rem;

          &--title, &--handle, &--time, .dot {
            &:hover {
              text-decoration: underline;
            }
          }

          &--title {
            margin-right: 0.7rem;
            font-weight: 800;
          }

          &--handle, &--time, .dot {
            color: $darkGrey;
          }

          .dot {
            padding: 0 0.5rem 1rem 0.5rem;
          }
        }

        .postDelete {
          width: 4rem;
          height: 4rem;
          padding-top: -1rem;
          border-radius: 50%;
          background-color: transparent;

          display: flex;
          align-items: center;
          justify-content: center;
          transition: $mainTransition;

          &:hover {
            cursor: pointer;
            background-color: $primaryColorHover;
          }

          &__icon {
            width: 2rem;
            height: 2rem;
            fill: none;
            stroke: $primaryColor;
          }
        }
      }

      .text {
        font-size: 1.6rem;
        font-weight: 400;
        white-space: pre-wrap;
        line-height: 2.3rem;

        span, a, a:hover, a:visited {
          font-weight: 600;
          color: $linkColor;
        }

        &:hover, span:hover {
          cursor: pointer;
        }

        &.comment {
          &:hover {
            pointer-events: none !important;
          }
        }
      }

      .media {
        position: relative;
        width: 100%;
        height: 0;
        background-color: $dimBlacker;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 1.6rem;
        margin-top: 1rem;
        padding-top: 57%;

        &:hover {
          cursor: pointer;
        }

        .img {
          position: absolute;
          width: 100%;
          height: 100%;
          visibility: hidden;
        }
      }

      .icons {
        width: 80%;
        padding: 1rem 1rem 0 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .item {
          width: 3rem;
          height: 3rem;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: transparent;
          border-radius: 50%;
          transition: $mainTransition;

          &:hover {
            cursor: pointer;
            background-color: $primaryColorHover;
          }

          .icon {
            width: 2rem;
            height: 2rem;
            fill: none;
            stroke: $svgColor;
            stroke-width: 1.5;
            transition: $mainTransition;
          }
        }
      }
    }

    &.single .profile__info {
      font-size: 1.9rem;
    }

    &.single .profile__info--title {
      font-weight: 700;
    }

    &.single .posts__post--content {
      .profile .profile__info {
        flex-direction: column;
        align-items: flex-start;
      }

      .singleDot, .singleTime {
        display: none;
      }

      .text {
        font-size: 2.55rem;
        font-weight: 400;
        white-space: pre-wrap;
        line-height: 1.3;

        &:hover {
          cursor: text;
        }
      }

      .postTime {
        width: 100%;
        margin: 1rem 0;
        font-size: 1.9rem;

        &:hover {
          cursor: pointer;
        }

        .dot {
          color: $darkGrey;
          padding: 0 0.5rem 1rem 0.5rem;
        }
      }

      .interactInfo {
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 1.7rem;
        color: $darkGrey;
        padding: 1.6rem 0;
        border-top: 1px solid $greyBorder;
        border-bottom: 1px solid $greyBorder;

        .int {
          color: $whiteColor;
          font-weight: 600;
        }

        .item:not(:last-of-type) {
          margin-right: 2rem;
        }
      }

      .icons {
        width: 100%;
        justify-content: space-around;
        padding-bottom: 1.6rem;
        border-bottom: 1px solid $greyBorder;

        .item {
          width: 3.85rem;
          height: 3.85rem;

          .icon {
            width: 2.8rem;
            height: 2.8rem;
          }
        }
      }
    }
  }
}