.tags {
  position: fixed;
  top: 0;
  width: 35rem;
  height: 100%;
  margin-bottom: 5rem;
  border-left: 1px solid $greyBorder;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @media only screen and (max-width: $bpTagsSh) {
    width: 30rem;
  }

  @media only screen and (max-width: $bpTagsBreak) {
    width: 20rem;
  }

  @media only screen and (max-width: $bpMedium) {
    width: 16rem;
  }

  @media only screen and (max-width: $bpSmallMedium) {
    width: 10rem;
  }

  @media only screen and (max-width: $bpSmallerMedium) {
    width: 0;
  }

  &__searchBox {
    position: fixed;
    width: 35rem;
    height: 6rem;
    background-color: $dimBlack;
    display: flex;
    justify-content: center;

    @media only screen and (max-width: $bpTagsSh) {
      width: 30rem;
    }

    @media only screen and (max-width: $bpTagsBreak) {
      width: 20rem;
    }

    @media only screen and (max-width: $bpMedium) {
      width: 16rem;
    }

    @media only screen and (max-width: $bpSmallMedium) {
      width: 10rem;
    }

    @media only screen and (max-width: $bpSmallerMedium) {
      width: 0;
    }
  }


  &__search {
    margin-top: 0.5rem;
    width: 90%;
    height: 80%;
    font-size: 1.6rem;
    color: $whiteColor;
    background-color: $searchColor;
    border-radius: 10rem;
    // transition: $mainTransition;

    display: flex;
    align-items: center;

    @media only screen and (max-width: $bpTagsBreak) {
     display: none !important;
    }

    button {
      margin-top: 0.55rem;
      background-color: transparent;
    }

    &--input {
      width: 100%;
      padding: 2.3rem;
      background-color: transparent;
      color: inherit;
      font-size: inherit;
      border-radius: inherit;
      margin-left: -1.6rem;

      &:focus, &:hover {
        cursor: text;
      }

      &::placeholder {
        color: $lightGrey;
      }
    }

    &--icon {
      width: 2.19rem;
      height: 2.19rem;
      margin-left: 1.6rem;
      fill: none;
      stroke: $lightGrey;
      stroke-width: 0.1rem;
    }
  }

  &__search:focus-within {
    border: 0.2rem solid $primaryColor;
  }

  &__list {
    width: 90%;
    margin-top: 7.5rem;
    background-color: $postBreaker;
    border-radius: 2rem;

    @media only screen and (max-width: $bpTagsBreak) {
      display: none;
    }

    &__box {
      width: 100%;
    }

    &--item {
      width: 100%;
      padding: 2rem 1.6rem;
      color: $whiteColor;

      &.tagHead {
        pointer-events: none;
      }

      &.tagHead .tags__list--item-heading {
        pointer-events: none;
      }

      &-link, &-heading {
        color: inherit;
        font-size: 2rem;
      }

      &-heading {
        font-weight: 800;
      }

      &-link {
        font-size: 1.9rem;
        color: $extraLightGrey;
        font-weight: 600;
      }

      &:hover {
        cursor: pointer;
      }

      &:not(:last-of-type) {
        border-bottom: 0.1rem solid $greyBorder;
      }
    }
  }
}