.tags {
  margin: 0 1.6rem;
  margin-bottom: 5rem;

  &__searchBox {
    position: fixed;
    top: 0;
    right: 0;
    width: 23vw;
    height: 6rem;
    background-color: $dimBlack;
    border-left: 0.1rem solid $greyBorder;
    transition: $mainTransition;

    display: flex;
    justify-content: center;
  }

  &__search {
    margin-top: 0.5rem;
    width: 90%;
    height: 80%;
    font-size: 1.6rem;
    color: $whiteColor;
    background-color: $searchColor;
    border-radius: 10rem;
    // transition: $mainTransition;

    display: flex;
    align-items: center;

    button {
      margin-top: 0.55rem;
      background-color: transparent;
    }

    &--input {
      width: 100%;
      padding: 2.3rem;
      background-color: transparent;
      color: inherit;
      font-size: inherit;
      border-radius: inherit;
      margin-left: -1.6rem;

      &:focus, &:hover {
        cursor: text;
      }

      &::placeholder {
        color: $lightGrey;
      }
    }

    &--icon {
      width: 2.19rem;
      height: 2.19rem;
      margin-left: 1.6rem;
      fill: none;
      stroke: $lightGrey;
      stroke-width: 0.1rem;
    }
  }

  &__search:focus-within {
    border: 0.2rem solid $primaryColor;
  }

  &__list {
    width: 100%;
    margin-top: 7.5rem;
    background-color: $postBreaker;
    border-radius: 2rem;

    &__box {
      width: 100%;
    }

    &--item {
      width: 100%;
      padding: 2rem 1.6rem;
      color: $whiteColor;

      &-link, &-heading {
        color: inherit;
        font-size: 2rem;
      }

      &-heading {
        font-weight: 800;
      }

      &-link {
        font-size: 1.9rem;
        color: $extraLightGrey;
        font-weight: 600;
      }

      &:hover {
        cursor: pointer;
      }

      &:not(:last-of-type) {
        border-bottom: 0.1rem solid $greyBorder;
      }
    }
  }
}